<a type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" class="dropdown-toggle nav-link fa-stack has-badge" data-counter="<%= current_user.unread_notifications.count if current_user.unread_notifications.count!=0%>">
  <i class="fa fa-circle fa-stack-2x"></i>
  <i class="fa fa-bell fa-stack-1x fa-inverse"></i>
</a>
<div class="dropdown-notifications dropdown-container">

  <div class="dropdown-toolbar">
    <div class="dropdown-toolbar-actions">
    </div>
    <h3 class="dropdown-toolbar-title text-center">Notifications</h3>
  </div>
  <ul class="dropdown-notifications dropdown-menu">
    <% current_user.unread_notifications.reverse.each do |notification| %>
      <li class="notification active">
        <div class='media'>
          <div class="media-left">
            <div class='media-object'>
              <%=link_to image_tag(notification.actor.picture_url, height: "35px", class: "img-circle"), "#" %>
            </div>
          </div>
          <div class="media-body">
            <strong class="notification-title">
              <%= notifiable_link(notification)%>
            </strong>
            <div class="notification-meta">
              <small class="timestamp">
                <%= icon "clock-o" %>
                &nbsp;
                <%= local_time_ago(notification.created_at) %>
              </small>
            </div>
          </div>
        </div>
      </li>
    <% end %>
    <% current_user.last_read_notifications.reverse.each do |notification| %>
      <li class="notification">
        <div class='media'>
          <div class="media-left">
            <div class='media-object'>
              <%=link_to image_tag(notification.actor.picture_url, height: "35px", class: "img-circle"), "#" %>
            </div>
          </div>
          <div class="media-body">
            <div class="notification-title">
              <%= notifiable_link(notification)%>
            </div>
            <div class="notification-meta">
              <small class="timestamp">
                <%= icon "clock-o" %>
                &nbsp;
                <%= local_time_ago(notification.created_at) %>
              </small>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="dropdown-footer text-center">
    <%= link_to 'See All', notifications_path %>
  </div>
</div>
