<div class='notifications-container'>
  <div class="container">
    <h3> Notifications history</h3>
    <% @notifications.each do |notification| %>
    <div>
      <div class="media-left">
        <div class='media-object'>
          <%= notification.icon %>
        </div>
      </div>
      <div class="media-body">
        <div class="arrow_box">
          <div class="arrow_box-message">
            <%= notification.render_notifications %>
            <small class="timestamp">
              <%= icon "clock-o" %>
              &nbsp;
              <%= local_time_ago(notification.created_at) %>
            </small>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <center>
      <div class="pagination-container">
        <div class="digg_pagination">
          <%= will_paginate @notifications %>
        </div>
      </div>
    </center>
  </div>
</div>
