<script src="http://maps.googleapis.com/maps/api/js?v=3.28&libraries=places"></script>


<div class="w-container">
  <br>
  <h3> Find place: </h3>
  <%= form_for :place, url: add_place_to_user_places_path, method: :post, remote: true do |f|%>
    <%= f.text_field :name,
        placeholder: "Place name",
        class: "form-control",
        id: 'place-input'
    %>
    <%= f.text_field :country, id: 'country', hidden: true %>
    <%= f.text_field :google_place_id, id: 'place_id', hidden: true %>
    <br>
    <center>
      <%= f.submit 'Add place', class: 'btn btn-default', id: 'add-place', disabled: true %>
    </center>
  <% end %>
  <br>
  <div id='places'>
    <%= render partial: 'places', locals: { places: @places } %>
  </div>
</div>
