<div class="post-links-div">
  <h1 class="posts-heading">Booking Links</h1>

  <h3 class="post-link-headings">Restaurants</h3>
  <% booking_links.restaurant.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Hotels</h3>
  <% booking_links.hotel.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Airbnb</h3>
  <% booking_links.airbnb.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Rentals</h3>
  <% booking_links.rental.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Activities</h3>
  <% booking_links.activity.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Flights</h3>
  <% booking_links.flight.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Tours</h3>
  <% booking_links.tour.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
  <h3 class="post-link-headings">Attractions</h3>
  <% booking_links.attraction.each do |booking_link| %>
    <%= link_to booking_link.url, booking_link.url, target: :_blank %>
  <%end%>
</div>
