<div class="booking_links_post">
  <% if policy(booking_link).downvote? %>
    <%= booking_link.downvotes.count %>
    <%= link_to downvote_booking_link_path(booking_link), remote: true, method: 'put', class: 'clear_link' do %>
      <%= icon "thumbs-down" %>
    <% end %>
  <% else %>
    <%= booking_link.downvotes.count %>
    <%= icon "thumbs-down" %>
  <% end %>

  <%= link_to booking_link.shortened_url, booking_link.url, target: :_blank%>

  <div class='right-block'>
    <% if policy(booking_link).upvote? %>
      <%= booking_link.upvotes.count %>
      <%= link_to upvote_booking_link_path(booking_link), remote: true, method: 'put', class: 'clear_link' do %>
        <%= icon "thumbs-up" %>
      <% end %>
  <% else %>
      <%= booking_link.upvotes.count %>
      <%= icon "thumbs-up" %>
  <% end %>
</div>
</div>
