<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Sat Apr 08 2017 18:21:28 GMT+0000 (UTC)  -->
<html data-wf-page="58e156bde0055699301a8209" data-wf-site="54f7bd5e04a195de6e5adf0f">
<head>
<script>$('a').tooltip();</script>
</head>

<body>
<div>
  <div class="user-profile-navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="container-2 w-container">
      <nav class="nav-profile-menu w-clearfix w-nav-menu" role="navigation"><a class="nav-profile-link w-nav-link" href="#">Profile</a><a class="nav-profile-link w-nav-link" href="#">Messages</a><a class="nav-profile-link w-nav-link bottom" title="" data-placement="bottom" data-toggle='tooltip' data-original-title="Account" href="#">Coming Soon</a><a class="nav-profile-link w-nav-link" href="#">Billing</a>
      </nav>
      <div class="w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
  <div class="w-container">
    <div class="user-profile-card">

      <center>
        <%= image_tag current_user.picture_url, class:"profile-picture", width: 200 %>
      </center>

      <div class="text-block-3">First Name: <%=current_user.first_name%></div>
      <div class="text-block-3">Last Name: <%=current_user.last_name%></div>
      <% if current_user.age.present? %>
        <div class="text-block-3">Age: <%=current_user.age%></div>
      <% end%>
      <% if current_user.sex.present? %>
        <div class="text-block-3">Sex: <%=current_user.sex%></div>
      <% end%>
      <% if current_user.hometown_name.present? %>
        <div class="text-block-3">Hometown: <%=current_user.hometown_name%></div>
      <% end%>
      <% if current_user.current_location_name.present? %>
        <div class="text-block-3">Current location: <%=current_user.current_location_name%></div>
      <% end%>
      <center><%= link_to("My places", places_path) %></center>
      <center><%= link_to 'Edit Profile Picture', edit_user_path(current_user) %></center>
      <div class="text-block-4"><%= current_user.owned_posts.count %> Posts</div>
      <div class="text-block-5"><%= current_user.score %> Points</div>
      <div class="text-block-6">No Badges</div>
      <div class="text-block-7">You are currently receiving emails for new posts. Click here to no longer receive them.</div>
      <div class="quick-links">
        <h3 class="quick-links-header">Quick Links</h3>
        <div class="text-block-8"><a href="/posts/new"> New Post</div></a>
        <div class="text-block-8"><a href="/all_posts">Browse Posts</div></a>
        <div class="text-block-8">FAQ</div>
        <div class="text-block-8">Destinations</div>
      </div>
    </div>
    <div class="user-posts w-clearfix">
      <h1 class="heading-4">Your Posts</h1>
      <% current_user.owned_posts.each do |post| %>
      <div class="post-title"><%= post.title %></div>
      <div class="post-responses-count"><%= post.responses.count %></div>
          <div class="w-clearfix">
            <div class="show-post text-block-16"><%= link_to 'View Post', { controller: :posts, action: :show, id: post.id } %></div>
            <% if policy(post).update? %>
              <div class="edit-post text-block-17"><%= link_to 'Edit Post', edit_post_path(post) %> </div>
            <% end %>
          </div>

    <% end %>
    </div>
    <div class="user-posts w-clearfix">
      <h1 class="heading-4">Your Responses</h1>
      <% current_user.responses.includes(:post).each do |response| %>


      <div class="post-title"><%= response.body %> </div>
      <div class="response-status"><%=  %></div>
          <div class="w-clearfix">
            <div class="show-post text-block-16"><%= link_to 'View Post', { controller: :posts, action: :show, id: response.post.id } %></div>
          </div>
      <% end %>
    </div>


  </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
<!-- <script src="js/webflow.js" type="text/javascript"></script> -->
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>
