<div class="profile-container clear">
  <div class="container">
    <div class="col-md-3">
      <div class="thumbnail">
      <%=image_tag @user.picture_url %>
    </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SCORE</h3>
        </div>
        <div class="panel-body score">
          <%= @user.score_value %>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Quick Links</h3>
        </div>
        <div class="panel-body">
          <center>
            <%= link_to "New Post", root_path  %><br>
            <%= link_to "My places", places_path %><br>
            <%= link_to "Browse Posts", all_posts_path %><br>
            <% unless current_user.tippa %>
              <%= link_to "Become a Tippa", tippa_question_users_path, remote: true, title: "Click here if you are interested in earning money crafting travel experiences", 'data-question' => @ask_question %>
            <% end %>
            <div class="text-block-8">FAQ</div>
            <div class="text-block-8">Destinations</div>
          </center>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <h1 class='user-name'>
        <%= @user.full_name %>
      </h1>
      <div class="arrow_box">
        <div class="arrow_box-message">
          <%= @user.profile_page_type %>
        </div>
      </div>
      <ul class="nav nav-tabs">
        <li class="active">
          <%= link_to user_path(@user, anchor: '1'), "data-toggle" => "tab" do %>
          <%= icon "inbox" %>
          Activity<span class="badge badge-info"><%= @activities.total_entries %></span>
          <% end %>
        </li>
        <li>
          <a href="#2" data-toggle="tab">Places<span class="badge badge-info"><%= @places.total_entries %></span>
          </a>
        </li>
        <li>
          <a href="#3" data-toggle="tab">Posts<span class="badge badge-info"><%= @posts.total_entries %></span>
          </a>
        </li>
      </ul>

      <div class="tab-content ">
        <div class="tab-pane fade in active" id="1">
          <%= render partial: "activities", locals: { activities: @activities } %>
        </div>
        <div class="tab-pane fade" id="2">
          <%= render partial: "places", locals: { places: @places, user: @user } %>
        </div>
        <div class="tab-pane fade" id="3">
          <%= render partial: "posts", locals: { posts: @posts } %>
        </div>
      </div>
    </div>
  </div>
  <div id='modal-component' class="modal fade">
</div>
