<div class="modal-body">
  <center>
    <p>
      Any other cities you plan on visiting on your trip to (destination)?
    </p>
  </center>
  <br>
  <%= text_field_tag 'name', nil,
            placeholder: "Place name",
            class: "form-control",
            id: 'place-input'
        %><br>
  <%= form_for @post, url: wizard_path(:destinations), method: :put, remote: true do |f| %>
  <div id='modal-places'>

    <%= f.fields_for :places, @places do |place|%>
    <%= render 'posts/post_steps/place_fields', f: place %>

    <% end %>
    <%= f.fields_for :places, Place.new do |place|%>
    <%= render 'posts/post_steps/place_fields', f: place %>
    <div class='links'>
      <%= link_to_add_association 'Add one more place', f, :places, class: 'btn btn-default' %>
    </div>
    <% end %>
  </div>
  <br>
  <%= link_to 'Back', wizard_path(:welcome), remote: true, class: 'btn btn-default btn-wizard-control btn-wizard-back pull-left' %>
  <%= f.submit 'Next', class: 'btn btn-default btn-wizard-control pull-right' %>
  <br>
  <% end %>
</div>
