<%= form_for @post, url: wizard_path(:people_total), method: :put, remote: true do |f| %>
<div class="modal-body">
  <center>
    <p>
      How many people total? (Only show if family/friends/other selected)
    </p>
  </center>
  <br>
  <div class="slick-container triple-slider">
    <div id="single-item">
      <% PostOptions.people_total_options.each do |total_number| %>
      <div data-total="<%=total_number[1] %>">
        <h3><%=total_number[0]%></h3>
      </div>
      <% end %>
    </div>
  </div>
  <%= f.text_field :people_total, hidden: true %>
</div>

<div class="modal-footer">
  <%= link_to 'Back', wizard_path(:who_is_traveling), remote: true, class: 'btn btn-default btn-wizard-control btn-wizard-back pull-left' %>
  <%= f.submit "Continue", class: 'btn btn-default btn-wizard-control pull-right' %>
</div>
<% end %>
