<%= form_for @post, url: wizard_path(:post_body), method: :put, remote: true do |f| %>
<div class="modal-body">
  <center>
    <p>
      Describe in detail what you are looking for in your vacation, so that responders to your post can help plan your ideal travel experience.
    </p>
  </center>
  <br>
  <%= f.text_field :title, placeholder: 'Your post title', class: 'form-control' %>
  <br>
  <%= f.text_area :body, class: 'form-control', rows: 8 %>

</div>

<div class="modal-footer">
  <%= link_to 'Back', wizard_path(:budget), remote: true, class: 'btn btn-default btn-wizard-control btn-wizard-back pull-left' %>
  <%= f.submit "Create Post", class: 'btn btn-default btn-wizard-control pull-right' %>
</div>
<% end %>
