<div class='nested-fields'>
  <%= f.text_field :city, id: 'place-city', readonly: true, class: 'place-item', hidden: true %>
  <%= f.text_field :state, id: 'place-state', readonly: true, hidden: true %>
  <%= f.text_field :country, id: 'place-country', readonly: true, hidden: true %>
  <%= f.text_field :google_place_id, id: 'place-google_id', readonly: true, hidden: true %>
  <%= f.text_field :latitude, id: 'place-latitude', readonly: true, hidden: true %>
  <%= f.text_field :longitude, id: 'place-longitude', readonly: true, hidden: true %>
</div>
