<div class="modal-dialog">
  <div class="modal-content new-post-modal">
    <div class="modal-header wizard">
      <center>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Travel Dates</h3>
      </center>
    </div>
    <%= form_for @post, url: wizard_path(:travel_dates), method: :put, remote: true do |f| %>
    <div class="modal-body">
      <p>
        When Will You Be Traveling?
      </p>
      <br>
      <div class="input-daterange input-group" id="datepicker">
        <%= f.text_field :travel_start, class: "input-sm form-control" %>
        <span class="input-group-addon">to</span>
        <%= f.text_field :travel_end, class: "input-sm form-control" %>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to 'Back', wizard_path(:who_is_traveling), remote: true, class: 'btn btn-default btn-wizard-control btn-wizard-back pull-left' %>
      <%= f.submit "Continue", class: 'btn btn-default btn-wizard-control pull-right' %>
    </div>
    <% end %>

  </div>
</div>
