<%= form_for @post, url: wizard_path(:who_is_traveling), method: :put, remote: true do |f| %>
<div class="modal-body">
  <%= f.select :who_is_traveling, options_for_select( [ [PostOptions.who_is_traveling(:myself), { 'data-img-src' => image_url('image-placeholder.svg') }], [PostOptions.who_is_traveling(:significant), { 'data-img-src' =>
  image_url('image-placeholder.svg') }], [PostOptions.who_is_traveling(:family), { 'data-img-src' => image_url('image-placeholder.svg') }], [PostOptions.who_is_traveling(:friends), { 'data-img-src' => image_url('image-placeholder.svg') }],
  [PostOptions.who_is_traveling(:other), { 'data-img-src' => image_url('image-placeholder.svg') }], ], @post.who_is_traveling ), {}, {id: "who_is_traveling-select", class: "image-picker show-labels show-html"} %>

  <%= text_field_tag 'post[who_is_traveling_other]', @who_is_traveling_other, class: "form-control"%>
</div>
<div class="modal-footer">
  <%= link_to 'Back', wizard_path(:destinations), remote: true, class: 'btn btn-default btn-wizard-control btn-wizard-back pull-left' %>
  <%= f.submit "Continue", class: 'btn btn-default btn-wizard-control pull-right' %>
</div>
<% end %>
