
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :offering %><br>
    <%= f.text_field :offering %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

    <div class="field">
      <%= f.label :whos_traveling %><br>
      <%= f.text_area :whos_traveling %>
    </div>

    <div class="field">
      <%= f.label :budget %><br>
      <%= f.text_area :budget %>
    </div>

    <div class="field">
      <%= f.label :travel_dates %><br>
      <%= f.text_area :travel_dates %>
    </div>

    <div class="field">
      <%= f.label :destination %><br>
      <%= f.text_area :destination %>
    </div>

    <div class="field">
      <%= f.label :booking_links %><br>
      <%= f.text_area :booking_links %>
    </div>

    <div class="field">
      <%= f.label :user %><br>
    </div>

    <div class="field">
      <%= f.label :structured %><br>
      <%= range_field_tag 'ranger', in: 1..10, step: 1 %>
      <div id='target'></div>
    </div>




  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
