<%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?v=3.28&libraries=places&key=#{ENV['GOOGLE_MAPS_API']}" %>
<% binding.pry %>
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div>
      <h1 class="h1-design">Where are you traveling?</h1>
      <div class="design-brief-subheading">If you’re still undecided on a destination you can leave this part blank.</div>
    </div>
    <span class="field-tip">
      <br>
      <%= f.text_area :destination, class: "whos_traveling"  %>
    </span>
    <div class='places-autocomplete' id='places-autocomplete' data-places-counter=0>
      <h3>Pick a places you would like to visit</h3>

      <%= text_field_tag 'name', nil,
          placeholder: "Place name",
          class: "form-control",
          id: 'place-input'
      %>
      <br>
      <div id='places'>
        <% if @post.places.present? %>
          <%= f.fields_for :places, @post.places do |place|%>
            <%= render 'place_fields', f: place %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'Add one more place', f, :places, class: 'btn btn-default'%>
          </div>
        <% else %>
          <%= f.fields_for :places, Place.new do |place|%>
            <%= render 'place_fields', f: place %>
            <div class='links'>
              <%= link_to_add_association 'Add one more place', f, :places, class: 'btn btn-default'%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <h1 class="h1-design">Title</h1>
    </div>
    <div class="design-brief-subheading">Give your post a short title that describes what you’re looking for.</div>
  <span class="field-tip">
    <br>
    <%= f.text_area :title, class: "post_title" %>

    </span>

    <br> </br>
    <span class="field-tip">
 <div>
    <h1 class="h1-design">Who is traveling?</h1>
  </div>
  <div class="design-brief-subheading">Are you traveling solo? With a friend? With your significant other?</div>
      <br>
      <%= f.text_area :whos_traveling, class: "whos_traveling" %>

      </span>
<br></br>

    <h1 class="h1-design">Budget</h1>
    <div class="design-brief-subheading">Let us know your budget so advisors can bring you relevant suggestions for your price range.</div>
      <span class="field-tip">
      <br>
      <%= f.select(:budget, options_for_select([['<$500', 1], ['<$1,000', 2], ['<$1,500', 3], ['<$2,000', 4], ['<$2,500', 5], ['<$3,000', 6], ['<$4,000', 6], ['>$5,000', 6]]), {}, { :class => 'budget' }) %>
    </span>
    <br></br>
    <h1 class="h1-design">Travel Dates</h1>
    <div class="design-brief-subheading">If you don’t have anything booked yet or not sure when you will be traveling, you can skip this part.
      </div>
      <br>
      <%= f.text_area :travel_dates, class: "whos_traveling"  %>

    <br></br>

    <br></br>

    </span>
    <br></br>

    </span>


    <div class="field" style="display: none;">
      <%= f.label :user %><br>
    </div>

    <div>
      <h1 class="h1-design">How structured do you want your trip to be?</h1>
    </div>
    <div class="design-brief-subheading">This will let our advisors know whether to give you more specific suggestions or general tips and advice.
    </div>
      <br>
    <%= f.select(:structured, options_for_select([['Full Itinerary - not a second free'], ['Busy Itinerary - a little down time'], ['Light Itinerary - ample amount of time for relaxation and freedom']]), {}, { :class => 'budget' }) %>

    </div>
    <br> </br>

    <div>
      <h1 class="h1-design">Already Booked</h1>
    </div>
    <div class="design-brief-subheading">Have you already booked some aspects of your trip? Let us know so you can avoid getting irrelevant advice.</div>
    <br>
    <%= f.text_area :already_booked, class: "whos_traveling" %>

    </span>
    <h1 class="h1-design">Body</h1>
    <div class="design-brief-subheading">Describe in detail what you are looking to gain from this post, so that responders to your post can help plan your ideal travel experience.</div>
    <br>
      <%= f.text_area :body,class: "post_body"  %>

    <h1 class="h1-design">Deadline</h1>
    <div class="design-brief-subheading">Choose the date when the post will be closed</div>
    <br>
    <%= f.date_field :expired_at, min: Date.today, max: (Date.today + 1.year), class: "whos_traveling" %>

    <h1 class="h1-design">Post status</h1>
    <div class="design-brief-subheading">
      <%= f.label "Open" %>
      <%= f.check_box :status%>
    </div>

<br></br>
  <div class="actions submit_post">
    <%= f.submit %>
  </div>
<% end %>
