<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <center>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Invite friend</h3>
      </center>
    </div>
    <div class="modal-body">
      <!-- <%#= form_tag(autocomplete_users_path, method: :get, class: "form-inline", role: 'search') do %>
        <div class="input-group">
          <%#= text_field_tag :query,
              params[:query],
              id: 'users_search',
              autocomplete: :off,
              placeholder: 'Search',
              class: 'form-control autocomplete-input' %>
          <div class="input-group-btn search-panel">
            <%= link_to 'Clear', root_url, class: "btn btn-default" %>
            <%#= submit_tag 'Search', name: nil, class: "btn btn-default" %>
          </div>
        </div>
      <#% end %> -->
      <div class="invitation">

        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#1" data-toggle="tab">Invite existing user<span class="badge badge-info"></span>
            </a>
          </li>
          <li>
            <a href="#2" data-toggle="tab">Invite user via email<span class="badge badge-info"></span>
            </a>
          </li>
          <li>
            <a href="#3" id="shareBtn" data-toggle="tab">Invite user via Facebook<span class="badge badge-info"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="tab-content ">
        <div class="tab-pane fade in active" id="1">
          <br>
          <p>Invite existing user by starting to type the name or email and picking the right one (You can select multiple users).</p> <br>
          <%= form_for [@post, PostUser.new], remote: true, html: { data: {users: raw(render(:template => "users/autocomplete.json", :locals => { :users => @users })) } } do |f| %>
            <%= f.text_field :email, required: true, id: "select-to" %>
            <br>
            <%= f.submit 'Invite', class: "btn btn-default", id:'submit-invitation-tab1' %>
            <div id="invitation-results1"></div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="2">
          <%= form_for [@post, PostUser.new], remote: true do |f| %>
            <br>
            <p>Invite your friend to join TripTippa via email. </p> <br>
            <%= f.text_field :email, required: true, class: 'form-control', placeholder: 'example@email.com' %>
            <br>
            <%= f.submit 'Invite', class: "btn btn-default", id:'submit-invitation-tab2' %>
            <div id="invitation-results2"></div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="3">
          <br>
          <p>Invite your friend to join TripTippa via Facebook. </p> <br>
          <br>
          <!-- <div id="shareBtn" class="btn btn-success clearfix">Send Dialog</div> -->
          <p> Url to be sent: <%= @post.invitation_url %>  </p>
          <b>(Temp, Only for dev stage)</b>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
