
<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com -->
<!--  Last Published: Thu Mar 30 2017 23:21:02 GMT+0000 (UTC)  -->

<div>
  <div class="w-container">
    <div class="post-div">
      <h1 class="posts-heading"><%= @post.title %></h1>
      <!-- <img class="post-author-image" src="/assets/Photo-on-8-5-16-at-6.26-PM-3.jpg" width="102"> -->
      <%= image_tag @post.owner.picture_url, width: "102", class: 'post-author-image'%>
      <div class="quote-author"><%= link_to @post.owner.first_name, @post.owner %></div>
      <% if current_user.moderator? || current_user.admin? %>
        <div><%= @post.owner.email %></div>
      <% end %>
      <%= "Age: #{@post.owner.age}" %> <br>
      <%= "Sex: #{@post.owner.sex}" %> <br>
      <%= "Current location: #{@post.owner.current_location_name}" %> <br><br>
      <h3>Post status:</h3>
      <%= current_status(@post) %>
      <h3>Traveling To:</h3>
      <%= @post.destination %>
      <h4>Places:</h4>
      <% @post.places.each do |place| %>
        <%= icon "globe" %>
        <span class='place-name'><%= place.full_name %></span>
        <br>
      <% end %>
      <h3>Traveling With:</h3>
      <%= @post.who_is_traveling %>
      <% if policy(@post).new_invitation? %>
        <br>
        <%= link_to new_invitation_post_path(@post), remote: true, method: :get, class: 'clear_link', title: 'Click here to invite your friend' do %>
          <%= icon "user-plus" %> Invite
        <% end %>
      <% end %>
      <h3>Already Booked:</h3>
      <h3>Structured:</h3>
      <%= @post.structured %>
      <h3>Brief:</h3>
      <%= @post.body %>
    </div>
    <div id="booking_links">
      <%= render partial: 'booking_links/booking_links', locals: { booking_links: @decorated_booking_links } %>
    </div>
    <div id='modal-component' class="modal fade">
    </div>

</div>

<br></br>
<% if policy(@post).update? %>
<%= link_to 'Edit This Post', edit_post_path(@post), class: "app_nav" %>
<% else %>
<% end %>



<br><br>


<div id="claim-block">
  <%= render partial: 'claim' %>
</div>


<div class="w-container"><h3>Responses</h3>

<div id="responses">
  <%= render 'responses/index' %>
</div>

<div id="new-responses">
  <%= render 'responses/new', post: @post %>
</div>



</div>
