<div class="login">
  <div class="container">
    <center>
        <div class="actions">
          <h1>Sign up and accept invitation</h1>
        </div>

      <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <%= f.text_field :first_name, :placeholder => "First name", autofocus: true %></p> <br>

        <%= f.text_field :last_name, :placeholder => "Last name" %></p><br>

        <% if f.object.class.require_password_on_accepting %>
          <%= f.password_field :password, :placeholder => "Password" %></p><br>

          <%= f.password_field :password_confirmation, :placeholder => "Password confirmation" %></p><br>
        <% end %>

        <p><%= f.submit t("devise.invitations.edit.submit_button") %></p>
      <% end %>

      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %><br />
      <% end -%>
    </center>
  </div>
</div>
