<% if response.top == true %>
    <br>You've marked this as a Top Response</br>
<% else %>
    <li></li>
<% end %>



<p><%= response.body %> -- <%= response.user.first_name %> -- <%= response.created_at.to_s(:long) %></p>
<% if @post.user == current_user %>
  <br>Make a Top Response?</br>
  <%= form_for([ @post, response]) do |f| %>
    <%= f.select(:top, options_for_select([["No", false],["Yes", true]],response.top)) %>

        <%= f.submit %>
<% end %>

<% else %>
<li> </li>
<% end %>

