

<% if response.top == true && @post.user == current_user %>
    <br>You've marked this as a Top Response</br>
<% else %>

<% end %>


<div class="response-div w-clearfix"><%= image_tag response.user.profile_picture_url, class: "response-author-image" %>
  <div class="response-author"><%= response.user.first_name %></div>
</div>
<div><%= response.body %></div>
<p> <%= response.created_at.to_s(:long) %></p>
<% if @post.user == current_user %>
  <span class="field-tip"><br>Make a Top Response?</br> <span class="tip-content"> Select "Yes" to mark this as a top response. When you've selected 3 top responses, click "finalize top responses" so that the responders can be rewarded</span>
    </span>
  <%= form_for([ @post, response]) do |f| %>
    <%= f.select(:top, options_for_select([["No", false],["Yes", true]],response.top)) %>

        <%= f.submit %>
<% end %>

<% else %>

<% end %>

